/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 abr. 2026, 14:56:28
    Author     : Liz
*/

.root{
    /*
    * Colores.
    * Tendremos 4 colores principales con 4 variaciones.
    * 1. blanco: su uso principal es como backgorun de contenedores o
    *    color de texto con background opacos.
    * 2. rojo.
    * 3. verde.
    * 4. azul.
    * 
    * variaciones:
    * limpios: Se usaran para rezaltar contenido.
    * normales: se usara para textos o backgroounds.
    * opacos: las 2 variantes de opaco se usaran como efectos ya sea para el
    *   cursor, resaltar cosas o aplicar como layout sobrepuesto.
    */

    /*blancos*/
    -color-blanco-limpio: #FFFFFF;
    -color-blanco-normal:#F1F1F1;
    -color-blanco-opaco-1:#E4E4E4;
    -color-blanco_opaco-2:#C6C6C6;
    /*rojos*/
    -color-rojo-limpio:#FF0000;
    -color-rojo-normal:#C90000;
    -color-rojo-opaco-1:#8E0000;
    -color-rojo-opaco-2:#720000;
    /*verdes*/
    -color-verde-limpio:#00FF00;
    -color-verde-normal:#00A700;
    -color-verde-opaco-1:#007200;
    -color-verde-opaco-2:#003000;
    /*azules*/
    -color-azul-limpio:#0000FF;
    -color-azul-normal:#0000AA;
    -color-azul-opaco-1:#000089;
    -color-azul-opaco-2:#00006D;


}

/*
 * Bases.
 * Los estilos base son los estilos comunes usados en los layouts dentro del
 * sistema, como bordes con sombras predefinidas para botones, estilos para
 * titulos o subtitulos, estructuras para vbox o hbox en formularios
 * entre otros estilos comunes.
 * 
 * entiendase que seran el complemento base para despues modificar segun se
 * requiera en las vstas
*/

/*
 * BOTON
*/

/* estilo */
.base-boton{
    -fx-background-radius: 3px;
    -fx-background-insets: 0;
    -fx-border-color: #000000;
    -fx-border-width: .5px;
    -fx-border-radius: 3px;
    -fx-padding: 5 10;
    -fx-cursor: hand;
}

/* efecto */
.base-boton:hover{
    -fx-scale-x:1.01;
    -fx-scale-y:1.01;
}

/* Variaciones */
/* boton verde */
.base-boton-verde{
    -fx-background-color:-color-verde-opaco-1;
    -fx-text-fill: white;
}
.base-boton-verde:hover{
    -fx-background-color:-color-verde-normal;
}

/*boton rojo*/
.base-boton-rojo{
    -fx-background-color:-color-rojo-opaco-1;
    -fx-text-fill: white;
}
.base-boton-rojo:hover{
    -fx-background-color:-color-rojo-normal;
}

/*
 * INPUT
*/

/* estilo */
.base-input{
    -fx-background-color:none;
    -fx-border-color: #B2B2B2;
    -fx-border-width:.5px;
    -fx-border-radius:4px;
    -fx-background-radius:4px;
    -fx-background-insets:0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.03), 1, 1, 0, 0);
}

/* effecto */
.base-input:focused {
    -fx-border-color: -color-azul-normal;
    -fx-effect: dropshadow(gaussian, rgba(0,0,255,0.2), 8, 0.1, 0, 2);
}

/*
 * LINK
*/

/* estilo */
.base-text-link{
    -fx-fill:-color-azul-normal;
    -fx-underline:true;
}

/* efecto */
.base-text-link:hover{
    -fx-fill:-color-azul-opaco-2;
    -fx-cursor: hand;
}

/*
 * CONTENEDOR
*/

/* estilo */
.base-contenedor{
    -fx-background-color:-color-blanco-normal;
    -fx-background-radius:12px;
    -fx-border-color:#000;
    -fx-border-radius:12px;
    -fx-effect: dropshadow(gaussian, rgb(0,0,0,0.25),15,0.2,0,4);
}

/* efecto */



/*
 * Fuentes.
*/

/* Titulo: es el texto de mayor tamaño destinado a textos como encabezados por lo que es bold */
.base-text-titulo-1{
    -fx-font-size:48px;
}

.base-text-titulo-2{
    -fx-font-size:48px;
    -fx-font-weight:bold;
}

/* Subtitulo: es el texto de tamaño moderado pero no tiene bold, destinado a textos que remarquen secciones */
.base-text-subtitulo-1{
    -fx-font-size:28px;
}

.base-text-subtitulo-2{
    -fx-font-size:28px;
    -fx-font-weight:bold;
}

/* Texto normal: texto normal con tamaño ligeramente grande. */
.base-text-normal-1{
   -fx-font-size:16px;
}

.base-text-normal-2{
   -fx-font-size:16px;
   -fx-font-weight:bold;
}

/*
* ERRORES
*/

/* input */
.input-error {
    -fx-border-color: -color-rojo-normal;
    -fx-effect: dropshadow(gaussian, rgba(255,0,0,0.25), 8, 0.1, 0, 2);
}
.input-error:focused{
    -fx-border-color: -color-rojo-opcao-1;
}

/* label */
.label-error{
    -fx-text-fill:-color-rojo-limpio;
}
/*
CURP no registrada.
Contraseña incorrecta.
Error al verificar cuenta.
Este es un mensaje de error generico para pruebas.
*/



/*
 * PRUEBAS.
 * los siguientes estilos solo son para visualizar mejor donde carajos llega 
 * que cosa, colocando un fondo de color contrastante y poder ajustar el
 * css class de cada parte del sistema. al final se eliminara este bloque de
 * codigo cuando se entregue al profe.
*/

/* area1 */
.p1{
    -fx-background-color:#83A42F;
}
/* area2 */
.p2{
    -fx-background-color:#DC1856;
}
/* area3 */
.p3{
    -fx-background-color:#90DD95;
}
/* area4 */
.p4{
    -fx-background-color:#DAA65B;
}
/* area5 */
.p5{
    -fx-background-color:#00006D;
}






